* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: keep-all;
}
body {
  position: relative;
  font-size: 16px;
}

/* nav[class="one-nav"] {
  z-index: 3;
}

nav[class="two-nav"] {
  z-index: 2;
} */
.title {
  width: 100%;
  height: 450px;
  background: linear-gradient(75deg, orange, yellow, pink);
  filter: opacity(0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 32px;
}
.title h2 {
  font-weight: 800;
  color: #000000;
  filter: opacity(0.8);
  font-size: 64px;
}

.wrap {
  width: 100%;
  padding: 40px 24px;
  margin: 0 auto;
}

.wrap > div > div {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

p {
  text-align: center;
}

p > mark {
  background-color: yellow;
}

footer {
  width: 100%;
}

.footer-content {
  display: flex;
  background: linear-gradient(270deg, #8428da 10%, #432c58 68%);
  padding: 64px 32px;
  justify-content: center;
  align-items: center;
  color: #d9d9d9;
  text-align: center;
}
.footer-content > div:first-child {
  background-color: yellow;
  padding-bottom: 10%;
}
.footer-content h4 {
  font-size: 32px;
  font-weight: 500;
}
.footer-content em {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}
