.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 56px 32px;
  color: rgba(255, 255, 255, 0.4);
  background: linear-gradient(0deg, #000000 25%, #999999 70%, #1e1e1e);
}
.title-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.main-title h2 {
  font-size: 16rem;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
  border-radius: 15%;
}

section {
  width: 100%;
  background-color: #000000;
  background: url(../../resource/img/element5-digital-LTyDj7u_TU4-unsplash.jpg);
  color: #ffffff;
  padding: 64px;
}

section .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sub-title {
  color: #ffffff;
}

.article1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.article1 > div {
  background-color: beige;
  padding: 24px;
  border-radius: 15%;
  color: #000000;
  font-weight: 600;
}

/* .message-community{
  
} */

.text-delete {
  width: 16px;
  height: 16px;
  float: right;
  margin-top: 4px;
  background: url(../img/free-icon-x-mark-10528556.png) no-repeat;
}

.message-container {
  height: 800px;
}

.message-container > .text-box {
  background-color: skyblue;
  width: 100%;
  min-height: 480px;
  padding: 8px;
  border-radius: 10px;
  overflow: auto;
}

.text-box > .bubble {
  border-radius: 15px;
  background-color: lightcyan;
  font-weight: 600;
  padding: 10px 8px;
  position: relative;
  margin: 8px 0;
}
.message-footer {
  display: flex;
}

.message-footer > textarea {
  resize: none;
}

a.button {
  transform: ra;
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  margin: 10px 10px 10px 10px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
  text-decoration: none;
}

.Btn-Green {
  background: #00ae68;
}

.Btn-Push {
  box-shadow: 0px 5px 0px 0px #007144;
}

.Btn-Push:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}

.Btn-Green.Btn-Push:hover {
  box-shadow: 0px 0px 0px 0px #007144;
}

.article {
  width: 100%;
}

.article2 img {
  border-radius: 25px;
  box-shadow: 8px 8px 16px 0px #ffffff;
}
.article2 img:hover {
  box-shadow: 0px 0px 0px 0px #ffffff;
  border: 4px solid yellow;
  transition: all 0.5s;
}

.g-pack {
  width: 50%;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-pack a {
  text-decoration: none;
  color: #ffffff;
}
.g-pack h5 {
  text-align: center;
  margin-top: 16px;
  font-weight: 600;
}

.article3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list img {
  width: 80%;
  height: 80%;
}

.list a {
  text-decoration: none;
  color: #d9d9d9;
  font-weight: 600;
}
.list p {
  width: 80%;
}

.create-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.create-title:hover {
  cursor: pointer;
  border: 2px solid yellow;
  border-radius: 5px;
  box-shadow: 8px 8px 16px 0px #ffffff;
  transition: all 2s;
}
.create-title img {
  border-radius: 25px;
  box-shadow: inset 0 0 20px #333;
  width: 360px;
  height: 360px;
}

.article3 h5 {
  font-weight: 800;
  margin: 48px;
}

.side-banner {
  position: relative;
  background: linear-gradient(75deg, rgba(221, 213, 199, 0.8), #ffffff);
  border-radius: 2%;
  margin: 64px;
  padding: 64px;
  width: 100%;
  height: 100%;
}

.side-banner button {
  background: linear-gradient(75deg, rgba(221, 213, 199, 0.8), #ffffff);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 0px 0px #007144;
  padding: 8px;
  width: 100%;
  transition: all 0.2s;
}

.side-banner button:hover {
  box-shadow: 0px 0px 0px 0px #999999;
  margin-top: 15px;
  margin-bottom: 5px;
  animation: change 6s ease-in-out;
}
@keyframes change {
  0% {
    background-color: #00ae68;
  }
  100% {
    background-color: #007144;
  }
}

.side-banner > div {
  width: 100%;
  border: 2px solid yellow;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.side-banner > div p {
  padding: 10px;
  border-radius: 10px;
}

/* .wrap-2 {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
}

.wrap-2 > .inner-wrap {
  width: 100%;
  margin: 64px 48px;
}

ul {
  list-style: none;
}
input,
button {
  padding: 5px 10px;
}

.list {
  border: 1px solid green;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list > li {
  flex-basis: 48%;
  margin-bottom: 20px;
}
.list > li > img {
  width: 80%;
} */

.deleteItem {
  display: none;
}
.deleteItem:hover {
  box-shadow: 0 0 4px 2px #333;
  animation: all 2s;
}

.addContent {
  position: relative;
}
.addContent p {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.addContent p::after {
  content: "";
  background-image: url(../img/free-icon-x-mark-10528556.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute;
  top: 14px;
  right: 40px;
  width: 16px;
  height: 16px; */
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  box-shadow: 2px 2px 8px 2px #333;
}

.addContent:hover p::after {
  box-shadow: 0 0 8px 0 #333;
  animation: push 0.5s;
}
@keyframes push {
  0% {
    transform: translateY(0);
    box-shadow: 0 0 4px 0 #333;
  }
  100% {
    transform: translateY(4px);
  }
}

/* ↑ 게임목록 삭제 아이콘 선택불가문제
  선택시 아이콘변화 및 해당 div 삭제 알아볼것
*/

@media screen and (max-width: 991px) {
  .list {
    justify-content: center;
  }
}
