h1,
p {
  font-family: serif;
  color: black;
}
span {
  font-size: 2em;
  color: thistle;
}
em {
  font-size: 1.5em;
  color: yellowgreen;
}
h1 {
  border-bottom: 1px solid gray;
  color: red;
}
body {
  font-size: large;
  background-color: salmon;
}
h3 {
  background-color: yellowgreen;
  border: 2px dotted black;
}
